.container-images {
    display: grid;
    width: 100%;
    height: calc(100vh - 58px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.img-tjr-with-cash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    background-image: url('/tjr-with-cash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    h2:hover::before {
        content: 'Making money is a side effect of anticipating price movements';
        font-size: 60px;
        color: white;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 2;
    }
}

.img-tjr-with-cash:has(h2:hover)::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.532);
    transform: scale(1.01);
}

.img-tjr-with-timepices {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    background-image: url('/Diseño-sin-título.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    h2:hover::before {
        content: 'Life is a moment';
        font-size: 60px;
        color: white;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 2;
    }
}


.img-tjr-with-timepices:has(h2:hover)::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.532);
    transform: scale(1.01);
}

.img-tjr-with-koenigsegg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    background-image: url('/modifie-tjr-with-koenigsegg.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    h2:hover::before {
        content: 'Know about us';
        font-size: 60px;
        color: white;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 2;
    }
}

.img-tjr-with-koenigsegg:has(h2:hover)::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.532);
    transform: scale(1.01);
}


.img-tjr-with-cash:hover {
    transform-style: preserve-3d;
    transform: scale(1.02);
    box-shadow: 0 0 500px rgba(44, 171, 108, 0.871);
    z-index: 1;

}

.img-tjr-with-cash:hover~.img-tjr-with-timepices,
.img-tjr-with-cash:hover~.img-tjr-with-koenigsegg {
    filter: blur(5px) brightness(0.3);
    transform: scale(1.02);
    transition: all 0.3s ease;
}


.img-tjr-with-timepices:hover {
    transform-style: preserve-3d;
    transform: scale(1.02);
    box-shadow: 0 0 500px rgba(44, 171, 108, 0.871);
    z-index: 1;

}

.container-images:has(.img-tjr-with-timepices:hover) .img-tjr-with-cash,
.container-images:has(.img-tjr-with-timepices:hover) .img-tjr-with-koenigsegg {
    filter: blur(5px) brightness(0.3);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.img-tjr-with-koenigsegg:hover {
    transform-style: preserve-3d;
    transform: scale(1.02);
    box-shadow: 0 0 500px rgba(44, 171, 108, 0.871);
    z-index: 1;

}

.container-images:has(.img-tjr-with-koenigsegg:hover) .img-tjr-with-cash,
.container-images:has(.img-tjr-with-koenigsegg:hover) .img-tjr-with-timepices {
    filter: blur(5px) brightness(0.3);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

::ng-deep app-header {
    transition: all 0.3s ease;
}

::ng-deep app-header.blur-effect {
    filter: blur(1px) brightness(0.3);
    transition: all 0.3s ease;
}

h2 {
    margin: 20px;
    font-size: 60px;
    font-family: Bebas+Neue;
    color: rgb(154, 64, 64);
    mix-blend-mode: difference;
    position: relative;
    position: relative;
    z-index: 3;
}

h2:hover {
    font-size: 0;
}