body {
    display: flex;
}

.orders {
    display: flex;
}

.ordersBook {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

th,
td {
    border: 1px solid grey;
    padding: 3px;

}

table {
    width: 50%;
    padding: 2px;
    border-collapse: collapse;
    border-color: grey;
}

caption {
    font-size: 20px;
    padding: 2px;
    border: 4px solid grey;
}

.orders-bids {
    background-color: greenyellow;

    tbody {

        th,
        td {
            text-align: right;
        }
    }
}

.orders-asks {
    background-color: rgb(236, 132, 132);
}

.container-btn-request-interval {
    margin: 5px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;

    button {
        margin: 0;
    }
}